[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'

[tool.flake8]
max-line-length = 120
extend-ignore = ['E203']  # Ignore whitespace before ':' which conflicts with black
exclude = ['.git', '__pycache__', 'build', 'dist']

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3

[tool.pylint]
max-line-length = 120
disable = [
    "C0111",  # missing-docstring
    "R0903",  # too-few-public-methods
]

[tool.mypy]
python_version = "3.8"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
